{% extends 'core/base.html' %}
{% block title %}首頁{% endblock %}
{% block content %}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/300/200" class="d-block w-100" alt="..." style="height: 90vh;">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/300/200" class="d-block w-100" alt="..." style="height: 90vh;">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/300/200" class="d-block w-100" alt="..." style="height: 90vh;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container mt-5" style="height: 100vh;">
    <div class="row">
      <div class="col-5">
        <img src="https://picsum.photos/200/300" alt="...">
      </div>
      <div class="col-7">
        <h2>品牌理念</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nisi provident iusto reiciendis nemo et temporibus natus sunt modi perspiciatis vel tenetur, fugiat voluptates vero. Debitis in saepe mollitia architecto?</p>
      </div>
    </div>
  </div>
  <h2 style="text-align: center;">熱門商品</h2>
  <div class="container-fluid mt-5">
    <div class="row">
      {% for item in items %}
        <div class="col-4">
          <div class="card" style="width: 18rem; border: bg-light;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
              <h2>{{ item.name }}</h2>
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text">NT$ {{ item.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      
    </div>
  </div>
{% endblock %}
