{% extends 'core/base.html' %}
{% block title %}首頁{% endblock %}
{% block content %}
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for photo in carousels %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ photo.image.url }}" class="d-block w-100" alt="..." style="height: 90vh; object-fit: cover;">
        </div>
      {% endfor %}
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  <section>
    <div class="scroll text1">
      <div class="scroll text1">
        <div style="font-family: 'Poppins', sans-serif; font-weight: 900;">
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
        </div>
        <div style="font-family: 'Poppins', sans-serif; font-weight: 900;">
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
            One <span>More Time Coffe & Croissant</span>
        </div>
    </div>
    
    </div>
  </section>
  <div class="container">
    <div class="row">
      <h4 style="text-align: center; padding-bottom: 10px;"><strong>Annoucements</strong></h4>
    </div>
    {% for notice in notices %}
      <div class="row">
        <p style="text-align: center;"><strong>{{ notice.notice }}</strong></p>
      </div>
    {% endfor %}
    
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-5">
        <img src="/static/assets/178733_0.jpg" style="width: 100%;" alt="...">
      </div>
      <div class="col-7">
        <h2><strong>品牌理念</strong></h2>
        <h3>One More Time - 迷你可頌領導品牌</h3><br>
          One More Time, Monday Smiles<br>
          一個即使在星期一也能讓人微笑的地方<br>          
          在忙碌的都市角落，有一個小小的空間，不僅賣可頌和咖啡，還賣故事，這裡是 OneMoreTime Cafe。<br>
          <br>      
          對我們而言 OneMoreTime 不僅是一個名字，同時是關於勇氣、熱情和夢想的故事，一個讓人在享受第一口咖啡和可頌時，就能感受到愛與堅持的地方。<br>
          對於顧客而言，它象徵著我們的一個承諾：無論何時，只要您再來 我們都會再次以最好的品質以及最誠懇燦爛的笑容迎接您。 <br>
          我們的終極目標是創造一個即使在星期一也能讓人微笑的地方<br>
          </p>
      </div>
    </div>
  </div>
  <h2 style="text-align: center;"><strong>熱門商品</strong></h2>
  <div class="container-fluid mt-5">
    <div class="row">
      {% for item in items %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card h-100" style="border: none;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
              <h2><strong>{{ item.name }}</strong></h2>
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text">NT$ {{ item.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
