{% extends 'core/base.html' %}
{% block title %}最新消息{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5" style="height: 100vh;">
        <div class="col-6">
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <div class="col-6">
            <h2>最新消息1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquam sit voluptatibus incidunt quidem a explicabo est. Praesentium itaque non hic, placeat error veniam beatae qui nemo sapiente dolores. Itaque.</p>
        </div>
    </div>
    <hr>
    <div class="row mt-5"  style="height: 100vh;">
        <div class="col-6">
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <div class="col-6">
            <h2>最新消息2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquam sit voluptatibus incidunt quidem a explicabo est. Praesentium itaque non hic, placeat error veniam beatae qui nemo sapiente dolores. Itaque.</p>
        </div>
    </div>
    <hr>
    <div class="row mt-5" style="height: 100vh;">
        <div class="col-6">
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <div class="col-6">
            <h2>最新消息3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aliquam sit voluptatibus incidunt quidem a explicabo est. Praesentium itaque non hic, placeat error veniam beatae qui nemo sapiente dolores. Itaque.</p>
        </div>
    </div>
</div>
{% endblock %}