{% extends 'core/base.html' %}
{% block title %}門市資訊{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 style="text-align: center; padding-top: 10px; padding-bottom: 10px;"><strong>門市資訊</strong></h1>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="https://picsum.photos/200/200" alt="">
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/200/200" alt="">
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/200/200" alt="">
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-6">
            <p>營業時間：(Mon) ~(sat) 11:00~18:00</p>
            <p>門市資訊：</p>
            <p>電話：</p>
        </div>
        <div class="col-6">
            <img src="https://picsum.photos/300/200" alt="">
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <!-- google map api here -->
    </div>
</div>
{% endblock %}