{% extends 'core/base.html' %}
{% block title %}門市資訊{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <h1 class="text-center py-3"><strong>門市資訊</strong></h1>
    </div>
    <div class="row">
        {% for storeImg in storeImgs %}
            <div class="col-12 col-md-4 d-flex justify-content-center my-3">
                <img src="{{storeImg.image.url}}" alt="門市環境照片" style="max-width: 100%; height: auto; object-fit: cover;">
            </div>
        {% endfor %} 
    </div>    
    <hr>
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <p>營業時間：(Mon) ~(sat) 11:00~18:00</p>
            <p>地址：高雄市三民區凱旋一路189號</p>
            <p>電話：0912957766</p>
        </div>
        {% if bigImg %}
            <div class="col-12 col-md-6">
                <img src="{{ bigImg.image.url }}" alt="" style="max-width: 100%; height: auto; object-fit: cover;">
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="row mt-5">
        <!-- google map api here -->
    </div>
</div>
{% endblock %}
