{% extends 'core/base.html' %}
{% block title %}禮盒資訊{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            {% for box in boxs %}
            {% if box.hot_item %}
                <div class="col">
                    <img src="{{ box.image.url }}" alt="">
                </div>
                <div class="col">
                    <h2>{{ box.name}}</h2>
                    <p>{{ box.description }}</p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            {% for box in boxs %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        {% if box.image.url %}
                        <img src="{{ box.image.url }}" class="card-img-top" alt="{{box.name}}">
                        {% else %}
                        <img src="..." alt="請上傳商品圖片">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ box.name }}</h5>
                        <p class="card-text">{{ box.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}