{% extends 'core/base.html' %}
{% block title %}菜單{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 style="text-align: center; padding-top: 30px;"><strong>菜單</strong></h1>
    </div>
    <ul class="nav nav-tabs mt-5">
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="#category-{{ category.id }}">{{ category.name }}</a>
        </li>
        {% endfor %}
      </ul>
    {% for category in categories %}
        <div class="row my-5" id="category-{{ category.id }}">
            <h1 style="text-align: center;">{{ category.name }}</h1>
        </div>
        <div class="row g3">
            {% for item in category.items.all %}
                <div class="col-4 col-md-3">
                    <div class="card mb-4 h-100" style="border: none;">
                        {% if item.image.url %}
                            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" style="height: 200px; object-fit: cover; width: 100%;">
                        {% else %}
                            <img src="..." class="card-img-top" alt="pic should be uploaded">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text description">{{ item.description }}</p>
                            <p class="card-text  mt-auto"> NT$ {{ item.price }}元</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}